/*
font-family: 'Saira Stencil One', cursive;
font-family: 'Montserrat', sans-serif;
*/

.myDisplay-1 {
  font-family: 'Saira Stencil One', cursive;
  color: #68BD45;
}

p, a {
  font-family: 'Montserrat', sans-serif;
}

.myDisplay-p {
  font-family: 'Saira Stencil One', cursive;
  color: #68BD45;
}

.myDisplay-a {
  color: #68BD45; 
}